<div class="col-12 d-flex align-items-center justify-content-center">
  <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
    <div class="text-center text-md-center mb-4 mt-md-0">
      <h1 class="mb-0 h3">Cradastrar Conta </h1>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%#= f.error_notification %>
      <%#= render "devise/shared/error_messages" %>

      <div class="form-group mb-4">
        <%= f.label :name %>
        <%= f.input :name, required: true, label: false, autofocus: true, input_html: { class: "form-control" }%>
      </div>

      <div class="form-group mb-4">
        <%= f.label :email, required: true %>
        <%= f.input :email, required: true, label: false, autofocus: false, input_html: { class: "form-control" }%>
      </div>

      <div class="form-group mb-4">
        <%= f.label :password, required: true %>
        <%= f.input :password, required: true, label: false, hint: ("Minimo de #{@minimum_password_length} caracteres" if @minimum_password_length), input_html: { class: "form-control" }%>
      </div>

      <div class="form-group mb-4">
        <%= f.label :password_confirmation, required: true %>
        <%= f.input :password_confirmation, required: true, label: false, input_html: { class: "form-control" }%>
      </div>

      <div class="d-grid">
        <%= f.button :submit, "Criar Conta", class: "btn btn-gray-800" %>
      </div>
    <% end %>    
  </div>
</div>

<%= render "devise/shared/links" %>
